.BGBlock {
    border-radius: 0px !important;
    height: 100vh !important;
    margin: 0px !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    height: 100% !important;
    width: 100% !important;
    background-repeat: no-repeat;

}


.Logo {
    opacity: 1;
    width: 150px;
    height: 150px;
    margin-top: 50px;
}

.Block_1_Title {
    margin-top: 50px;
    margin-bottom: 40px;
}

.Block_2_Title {
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 3px;
}